<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apiserver.producer.mall.mapper.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.apiserver.model.mall.entity.MCategory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sort_id" property="sortId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="icon_url" property="iconUrl" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_id" property="modifyId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sort_id, parent_id, name, icon_url, description, status, create_time, create_id, 
    modify_time, modify_id
  </sql>

  <select id="getOneByParameters" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    m_category t
    <if test="queryMap!=null and queryMap.size>0">
      WHERE
      <foreach collection="queryMap" item="item" index="key" open="" separator="AND" close="">
        t.${key} = ${item}
      </foreach>
    </if>
  </select>


  <select id="getByParameters" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    m_category t
    <if test="queryMap!=null and queryMap.size>0">
      WHERE
      <foreach collection="queryMap" item="item" index="key" open="" separator="AND" close="">
        t.${key} = ${item}
      </foreach>
    </if>
    <if test="orderMap!=null and orderMap.size>0">
      ORDER BY
      <foreach collection="orderMap" item="item" index="key" open="" separator="," close="">
        t.${key} ${item}
      </foreach>
    </if>
  </select>
</mapper>